{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}


{% block NavBar %}{% include "includes/Navbar_white.html" %}{% endblock NavBar %}

{% block content1 %}
{% include 'includes/HeroSection.html' %}
{% endblock content1 %}


{% block content2 %}{% include 'includes/Features.html' %}{% endblock content2 %}
{% block content3 %}{% include 'includes/About.html' %}{% endblock content3 %}
{% block content4 %}{% include 'includes/CTA.html' %}{% endblock content4 %}
{% block content5 %}{% include 'includes/Pricing.html' %}{% endblock content5 %}
{% block content6 %} {% include 'includes/Testimonial.html' %}{% endblock content6 %}
{% block content7 %}{% include 'includes/FAQ.html' %}{% endblock content7 %}
{% block content8 %}{% include 'includes/Team.html' %}{% endblock content8 %}
{% block content9 %} {% include 'includes/BlogSection.html' %}{% endblock content9 %}
{% block content10 %}{% include 'includes/Contact.html' %}{% endblock content10 %}
{% block content11 %}{% include 'includes/Brands.html' %}{% endblock content11 %}


